
.sd-v-align {
    display: flex;
    align-items: center;
    height: 100%;
}

.sd-header {
    margin-bottom: 3rem;
    width:         100%;
    z-index:       100;
}

.sd-header .row {
    height:     3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sd-header .row button {
    margin-top: 0.3rem;
}

.sd-header .row .sd-git-link {
    padding-top: 0.5rem;
}

.sd-header .row .sd-git-link span {
    vertical-align: middle;
}

.sd-header .row .sd-controls {
    text-align:  center;
    white-space: nowrap;
}

.sd-init-dialog h2 {
    margin: 1rem;
}

.sd-init-dialog h3 {
    font-size: 1.5rem;
    color: slateblue;
}

.sd-init-dialog .sd-slider-value {
    font-size: 1.25rem;
    color: indianred;
}

.sd-init-dialog hr {
    margin: 0;
}

.sd-init-dialog .sd-form-container {
    margin: 1rem 0 0 0;
}

.sd-main {
    margin-top: 1rem;
}

button.sd-icon-btn {
    line-height: 0;
}

.progress {
    height:      0.3rem;
    margin-top:  1.3rem;
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .sd-header .row .sd-controls {
        text-align:  center;
        white-space: nowrap;
    }
}